@import "tailwindcss";

.pages{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:burlywood;
    font-family: "Roboto Mono", monospace;
}

.forms{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 10px 20px;
     background-color:antiquewhite;
     box-shadow: 5px 5px 20px black;
     border: 1px solid white;
     border-radius: 10px;
     transition: 200ms ease-in-out;
}


.inputFeilds{
    border-bottom:1px solid black;
    text-align: center;
    padding: 3px 10px;
    width: full;
}

.inputFeildsWrappers{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.transactionCard{
    box-shadow: 5px 5px 20px black;
    background-color:antiquewhite;
    backdrop-filter: blur(2px);
    border-radius: 10px; 
    transition: 200ms ease-in-out;
}

.transactionCard:hover{
    transform: scale(1.01);
}


label{
    font-size: 12px;
}

